<li class="nav-item">
    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Progression
        {% if flags |length > 0 %}
            <span class="badge bg-primary rounded-pill">{{ flags |length }}</span>
        {%  endif %}
    </a>
</li>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Unlocked flags</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for flag in flags %}
                        <li class="list-group-item d-flex justify-content-between">
                            <p class="text-muted"> {{ flag.date }}</p>
                            <span class="badge bg-success text-center my-auto">{{ flag.flag }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>